<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Escola Secúndaria de Maximinos</title>

    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body>

<div class="topnav" id="myTopnav">
    <a class="navbar-brand" href="/">Worten</a>
    <div class="dropdown">
        <button class="dropbtn">Produtos
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Fotografia
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Máquinas</a>
            <a href="#">Cartões de Memória</a>
            <a href="#">Baterias</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Gaming
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Monitores</a>
            <a href="#">Desktops</a>
            <a href="#">Teclados</a>
        </div>
    </div>
    <i><a href="#"><span class="fas fa-sign-in-alt"></span> Sign Up</a></i>
    <i><a href="#" onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><span class="fas fa-user"></span> Login</a></i>
</div>



<div id="id01" class="modal">

  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/static/images/logo.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit" class="btn">Login</button>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

{% block conteudo %}
{% endblock %}

<h3>&copy 2019 Gonçalo Gomes</h3>

</body>
</html>
